#hot {
  background-image: url(assets/hot.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#juicy {
  background-image: url(assets/juicy.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#cosy {
  background-image: url(assets/cosy.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.panel {
  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;

  border-bottom: 5px solid red;
}

.panel .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.panel .content h4 {
  font-size: 6rem;
  color: red;
  font-family: "Spirax", sans-serif;
  margin-bottom: 25px;
}

.panel .content .text-box {
  width: 750px;
  background-color: rgb(190, 3, 8, 0.8);
  font-size: 1.8rem;
  padding: 25px;
  color: white;
  font-family: "Poiret One", sans-serif;
}

.panel .content .box-1 {
  text-align: center;
  align-self: flex-start;
}

.panel .content .box-2 {
  text-align: center;
  align-self: flex-end;
}

.panel .content .price-box {
  display: flex;
  flex-direction: row;

  width: 450px;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-top: 20px;

  background-color: rgba(0, 0, 0, 0.7);
}

.panel .content .price-box .drinks {
  display: flex;
  flex-direction: column;
}

.panel .content .price-box .drinks p {
  font-size: 1.4rem;
  margin: 0;
  margin-left: 12px;
  font-family: "Poiret One", sans-serif;

  color: white;
}

.panel .content .price-box .prices p {
  font-size: 1.4rem;
  margin: 0;
  margin-right: 12px;
  font-family: "Poiret One", sans-serif;

  color: white;
}
